html {
  scroll-behavior: smooth;
}

*,
input,
textarea {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #212121;
  font-family: 'Roboto', sans-serif;
}

h2 {
  font-weight: 300;
  font-size: 25px;
  text-align: center;
  padding: 15px 0;
}

input,
textarea {
  font-family: 'Roboto', sans-serif;
}

header {
  background: url("../img/Caminho 7@2x.png") no-repeat -10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 195px;
}

header nav {
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: absolute;
  -webkit-transition: background-color 0.2s, -webkit-transform 0.5s;
  transition: background-color 0.2s, -webkit-transform 0.5s;
  transition: transform 0.5s, background-color 0.2s;
  transition: transform 0.5s, background-color 0.2s, -webkit-transform 0.5s;
}

header nav.nav-top {
  position: fixed;
  top: -50px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #006E80;
  z-index: 3;
  width: 100%;
}

header nav.nav-top.show {
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
}

header nav .menu-btn {
  padding: 25px;
  height: 10px;
  position: relative;
  z-index: 3;
  top: 0;
  right: 0;
}

header nav .menu-btn .burger {
  width: 22px;
  height: 2px;
  background: #eee;
  border-radius: 5px;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

header nav .menu-btn .burger::before, header nav .menu-btn .burger::after {
  content: '';
  position: absolute;
  width: 22px;
  height: 2px;
  background: #eee;
  border-radius: 5px;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

header nav .menu-btn .burger::before {
  -webkit-transform: translateY(-7px);
          transform: translateY(-7px);
}

header nav .menu-btn .burger::after {
  -webkit-transform: translateY(7px);
          transform: translateY(7px);
}

header nav .menu-btn.open {
  position: fixed;
}

header nav .menu-btn.open .burger {
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
  background: transparent;
}

header nav .menu-btn.open .burger::before {
  -webkit-transform: rotate(45deg) translate(35px, -35px);
          transform: rotate(45deg) translate(35px, -35px);
}

header nav .menu-btn.open .burger::after {
  -webkit-transform: rotate(-45deg) translate(35px, 35px);
          transform: rotate(-45deg) translate(35px, 35px);
}

header nav .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 50vw;
  height: 100vh;
  background: #006E80;
  position: fixed;
  top: 0;
  right: -50vw;
  z-index: 1;
  -webkit-transition: -webkit-transform 0.2s ease-out;
  transition: -webkit-transform 0.2s ease-out;
  transition: transform 0.2s ease-out;
  transition: transform 0.2s ease-out, -webkit-transform 0.2s ease-out;
}

header nav .menu #navUL {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav .menu #navUL li {
  padding: 15px;
}

header nav .menu #navUL li a {
  padding: 5px;
  text-decoration: none;
  font-size: 1.6em;
  font-weight: 700;
  color: #eee;
}

header nav .menu #navUL hr {
  opacity: 0.3;
  border: 1px solid #eee;
  border-bottom: 1px solid #006E80;
  width: 70%;
}

header nav .menu .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #eee;
}

header nav .menu .social i {
  margin: 10px auto;
  padding: 5px;
  text-shadow: #444 1px 0 6px;
}

header nav .menu.show {
  -webkit-transform: translateX(-50vw);
          transform: translateX(-50vw);
  -webkit-box-shadow: -4px 0 12px #212121;
          box-shadow: -4px 0 12px #212121;
  height: 100vh;
}

header .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative;
  bottom: -88px;
  max-width: 450px;
  height: 140px;
  padding: 5px;
}

header .title img {
  width: 130px;
  border: 3px solid #eee;
  border-radius: 50%;
  background: #eee;
}

header .title .name {
  -ms-flex-item-align: center;
      align-self: center;
  text-transform: uppercase;
  color: #eee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 75px;
}

header .title .name h1 {
  font-size: 1.5em;
  font-weight: bold;
  letter-spacing: 3px;
}

header .title .name h4 {
  padding-right: 3px;
  font-weight: 300;
}

.container {
  background-color: #eee;
}

.container .about,
.container .skills,
.container .projects,
.container .contact {
  padding: 0 25px 25px;
}

.container .about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .about h2 {
  color: #006E80;
}

.container .about p {
  color: #707070;
  font-weight: 300;
  font-size: 1.2em;
  text-align: center;
}

.container .about p.lg {
  font-size: 1.6em;
}

.container .about p:nth-child(5) {
  margin-top: 20px;
  font-weight: 400;
}

.container .about .btn {
  text-decoration: none;
  background-color: #006E80;
  color: #eee;
  padding: 15px 30px;
  border-radius: 8px;
  margin-top: 20px;
  -webkit-transition: -webkit-box-shadow 0.2s;
  transition: -webkit-box-shadow 0.2s;
  transition: box-shadow 0.2s;
  transition: box-shadow 0.2s, -webkit-box-shadow 0.2s;
}

.container .about .btn:hover {
  -webkit-box-shadow: 0 2px 5px #444;
          box-shadow: 0 2px 5px #444;
}

.container .skills {
  background: #006E80;
}

.container .skills h2 {
  color: #eee;
}

.container .skills .slider {
  margin-top: 10px;
}

.container .skills .slider ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.container .skills .slider ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #eee;
  font-size: 10px;
  font-weight: 300;
}

.container .skills .slider ul li .skillImg {
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .skills .slider ul li .skillImg i {
  text-shadow: #444 1px 0 6px;
  font-size: 5em;
}

.container .skills .slider ul li p {
  color: #7EFFFB;
  opacity: 0.7;
}

.container .projects h2 {
  color: #006E80;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .projects h2 span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.container .projects h2 span i:nth-child(2) {
  font-size: 0.7em;
  padding-left: 2px;
}

.container .projects .sort {
  background: #006E80;
  border: 1px solid #006E80;
  text-align: center;
  border-radius: 4px;
  -webkit-box-shadow: 0 2px 5px #444;
          box-shadow: 0 2px 5px #444;
  width: 200px;
  position: absolute;
  right: 25px;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}

.container .projects .sort h4 {
  color: #eee;
  padding: 5px;
}

.container .projects .sort ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #eee;
}

.container .projects .sort ul li {
  margin: 5px;
  padding: 5px;
  color: #212121;
}

.container .projects .sort ul hr {
  opacity: 0.3;
  border: 1px solid #eee;
  border-bottom: 1px solid #707070;
  width: 90%;
}

.container .projects .sort.show {
  visibility: visible;
  opacity: 1;
}

.container .projects .grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-auto-rows: auto;
  grid-row-gap: 15px;
}

.container .projects .grid-container .proj {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container .projects .grid-container .proj .name-proj h3 {
  color: #006E80;
  font-size: 1.2em;
  font-weight: 300;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .projects .grid-container .proj .name-proj h3 span {
  color: #707070;
  font-size: 0.7em;
}

.container .projects .grid-container .proj .proj-img img {
  width: 100%;
}

.container .contact {
  background: #006E80;
}

.container .contact h2 {
  color: #eee;
}

.container .contact form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container .contact form .submit-msg {
  text-align: center;
  color: #41cc00;
  visibility: hidden;
}

.container .contact form #name,
.container .contact form #email,
.container .contact form #message {
  padding: 10px 15px;
  border-radius: 4px;
  margin: 6px 0;
  font-size: 0.9em;
  background: #eee;
  color: #707070;
  border: 1px solid #707070;
  -webkit-transition: -webkit-box-shadow 0.3s;
  transition: -webkit-box-shadow 0.3s;
  transition: box-shadow 0.3s;
  transition: box-shadow 0.3s, -webkit-box-shadow 0.3s;
}

.container .contact form #name:focus,
.container .contact form #email:focus,
.container .contact form #message:focus {
  -webkit-box-shadow: 0 2px 5px #444;
          box-shadow: 0 2px 5px #444;
}

.container .contact form #message {
  resize: none;
}

.container .contact form #sendBtn {
  padding: 8px;
  width: 33%;
  border-radius: 4px;
  border: 1px solid #707070;
  background: #eee;
  color: #707070;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

footer {
  padding: 10px 25px;
}

footer .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 95%;
  margin: 0 auto 10px;
  color: #eee;
  text-shadow: #151515 1px 0 6px;
}

footer p {
  text-align: center;
  color: #006E80;
  font-weight: 700;
}

footer p span {
  color: #707070;
  font-weight: 300;
}

@media screen and (max-width: 360px) {
  header .title {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header .title .name {
    padding: 0 10px 20px;
  }
  header .title .name h1,
  header .title .name h4 {
    -ms-flex-item-align: start;
        align-self: flex-start;
    padding-top: 5px;
  }
  header .title .name h1 {
    line-height: 0.9em;
  }
  .container .about {
    padding-top: 10px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media screen and (min-width: 768px) {
  h2 {
    font-weight: 400;
  }
  .container .about {
    padding: 10px 100px 50px;
  }
  .container .about p {
    font-size: 1.3em;
  }
  .container .skills .slider ul li p {
    font-size: 1.3em;
  }
  .container .projects .grid-container {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-column-gap: 25px;
  }
  .container .projects .grid-container .proj .name-proj h3 {
    font-size: 1.3em;
  }
  .container .projects .grid-container .proj .name-proj h3 span {
    font-size: 0.8em;
  }
  .container .contact form {
    width: 70%;
    margin: 0 auto;
  }
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .social {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 300px;
    margin: 0;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  h2 {
    font-weight: 400;
    font-size: 1.8em;
    text-align: center;
    padding: 15px 0;
  }
  header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  header nav {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    height: auto;
    width: auto;
  }
  header nav .menu-btn {
    display: none;
  }
  header nav .menu {
    position: relative;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: auto;
    height: 75px;
    right: auto;
    background: none;
  }
  header nav .menu hr {
    display: none;
  }
  header nav .menu #navUL {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header nav .menu #navUL li {
    padding: 5px;
  }
  header nav .menu #navUL li a {
    font-size: 1.2em;
    font-weight: 400;
    padding: 0 10px;
    -webkit-transition: text-shadow 0.2s;
    transition: text-shadow 0.2s;
  }
  header nav .menu #navUL li a:hover {
    text-shadow: 1px 2px 5px #212121;
  }
  header nav .menu .social {
    display: none;
    overflow: hidden;
  }
  header .title {
    bottom: -33px;
  }
  header .title .name {
    padding-left: 20px;
  }
  .container .skills,
  .container .projects,
  .container .contact {
    padding: 10px 50px 50px;
  }
  .container .skills .slider ul li {
    font-size: 1em;
  }
  .container .skills .slider ul li .skillImg {
    font-size: 0.9em;
    height: 100px;
  }
  .container .projects .sort.show {
    z-index: 1;
  }
  .container .projects .grid-container {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: auto;
    grid-gap: 8px;
  }
  .container .projects .grid-container .proj {
    position: relative;
    border: 3px solid #ddd;
    overflow: hidden;
  }
  .container .projects .grid-container .proj .proj-img img {
    height: 100%;
  }
  .container .projects .grid-container .proj .name-proj {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: rgba(10, 10, 10, 0.9);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 7em;
    opacity: 0;
    white-space: nowrap;
    cursor: pointer;
  }
  .container .projects .grid-container .proj .name-proj:hover {
    -webkit-transition: font-size 0.5s, opacity 0.5s;
    transition: font-size 0.5s, opacity 0.5s;
    font-size: 1em;
    opacity: 1;
  }
  .container .projects .grid-container .proj .name-proj:hover h3 {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .container .projects .grid-container .proj .name-proj h3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-weight: 700;
    -webkit-transition: -webkit-transform 0.4s;
    transition: -webkit-transform 0.4s;
    transition: transform 0.4s;
    transition: transform 0.4s, -webkit-transform 0.4s;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  .container .contact form {
    width: 60%;
  }
  .container .contact form #sendBtn {
    cursor: pointer;
  }
  .container .contact form #sendBtn:hover {
    -webkit-transition: -webkit-box-shadow 0.3s;
    transition: -webkit-box-shadow 0.3s;
    transition: box-shadow 0.3s;
    transition: box-shadow 0.3s, -webkit-box-shadow 0.3s;
    -webkit-box-shadow: 0 2px 5px #444;
            box-shadow: 0 2px 5px #444;
  }
  footer .social i {
    cursor: pointer;
    -webkit-transition: color 0.3s, -webkit-transform 0.3s;
    transition: color 0.3s, -webkit-transform 0.3s;
    transition: color 0.3s, transform 0.3s;
    transition: color 0.3s, transform 0.3s, -webkit-transform 0.3s;
  }
  footer .social i:hover {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
    color: #006E80;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .container .about {
    width: 55%;
    margin: 0 auto;
  }
  .container .skills .slider ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .container .skills .slider ul li {
    margin: 0 30px;
  }
  .container .projects {
    padding: 20px 200px 50px;
  }
  .container .contact form {
    width: 50%;
  }
  footer {
    height: 68px;
  }
  footer .social {
    position: absolute;
    right: 20px;
  }
}

@media only screen and (min-width: 1550px) {
  .container .projects {
    padding: 25px 250px 50px;
  }
  .container .contact form {
    width: 40%;
  }
}

@media (orientation: landscape) {
  header nav .menu {
    width: 50vw;
  }
  header nav .menu .social {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header nav .menu .social i {
    margin: 10px 20px;
  }
}
/*# sourceMappingURL=style.css.map */