$white: #eee;
$darkgrey: #212121;
$blue: #006E80;
$grey: #707070;
$boxsh: 0 2px 5px #444;
$tr-boxsh-02: box-shadow .2s;
$tr-txtsh-02: text-shadow .2s;
$tr-color-02: color .2s;

html {
   scroll-behavior: smooth;
}

*,
input,
textarea {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   background-color: $darkgrey;
   font-family: 'Roboto', sans-serif;
}

h2 {
   font-weight: 300;
   font-size: 25px;
   text-align: center;
   padding-bottom: 10px;
}

input,
textarea {
   font-family: 'Roboto', sans-serif;
}

header {
   background: url('../img/Caminho\ 7@2x.png') no-repeat -10px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   height: 195px;
   nav {
      width: 100%;
      height: 50px;
      display: flex;
      justify-content: flex-end;
      position: absolute;
      transition: transform 0.5s, background-color 0.2s;
      &.nav-top {
         position: fixed;
         top: -50px;
         justify-content: flex-end;
         align-items: center;
         background: $blue;
         z-index: 3;
         width: 100%;
         &.show {
            transform: translateY(50px);
            box-shadow: $boxsh;
         }
      }
      .menu-btn {
         padding: 25px;
         height: 10px;
         position: relative;
         z-index: 3;
         top: 0;
         right: 0;
         .burger {
            width: 22px;
            height: 2px;
            background:$white;
            border-radius: 5px;
            transition: all .5s ease-in-out;
            &::before,
            &::after {
               content: '';
               position: absolute;
               width: 22px;
               height: 2px;
               background: $white;
               border-radius: 5px;
               transition: all .5s ease-in-out;
            }
            &::before {
               transform: translateY(-7px);
            }
            &::after {
               transform: translateY(7px);
            }
         }
         &.open {
            position: fixed;
         }

         &.open .burger {
            transform: translateX(-50px);
            background: transparent;
         }
         &.open .burger::before {
            transform: rotate(45deg) translate(35px, -35px);
         }
   
         &.open .burger::after {
            transform: rotate(-45deg) translate(35px, 35px);
         }
      }
      .menu {
         display: flex;
         flex-direction: column;
         justify-content: space-evenly;
         width: 70vw;
         height: 100vh;
         background: $blue;
         position: fixed;
         top: 0;
         right: -70vw;
         z-index: 1;
         transition: transform 0.2s ease-out;
         #navUL {
            list-style: none;
            display: flex;
            flex-direction: column;
            align-items: center;
            li {
               padding: 15px;
               a {
                  padding: 5px;
                  text-decoration: none;
                  font-size: 1.6em;
                  font-weight: 700;
                  color: $white;
               }
            }
            hr {
               opacity: 0.3;
               border: 1px solid $white;
               border-bottom: 1px solid $blue;
               width: 70%;
            }
         }
         .social {
            display: flex;
            flex-direction: column;
            align-items: center;
            a {
               color: $white;
               i {
                  margin: 10px auto;
                  padding: 5px;
                  text-shadow: #444 1px 0 6px;
               }
            }  
         }
         &.show {
            transform: translateX(-70vw);
            box-shadow: -4px 0 12px $darkgrey;
            height: 100vh;
         } 
      }
   }
   .title {
      display: flex;
      align-items: flex-end;
      position: relative;
      bottom: -88px;
      max-width: 100vw;
      height: 140px;
      padding: 0 10%;
      img {
         width: 120px;
         border: 4px solid $white;
         border-radius: 50%;
         background: $white;
         margin-left: 5px;
         transition: width 1s;
      }
      .name {
         align-self: center;
         text-transform: uppercase;
         color: $white;
         display: flex;
         flex-direction: column;
         align-items: flex-start;
         justify-content: center;
         height: 75px;
         padding-left: 10px;
         h1 {
            font-size: 1.5em;
            font-weight: bold;
            letter-spacing: 3px;
            overflow: hidden;
         }
         h4 {
            font-weight: 300;
            line-height: 0.9em;
         }
      }
   }
}
.container {
   background-color: $white;
   .about,
   .skills,
   .projects,
   .contact {
      padding: 25px;
   }
   .about {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      h2 {
         color: $blue;
      }
      p {
         color: $grey;
         font-weight: 300;
         font-size: 1.2em;
         text-align: center;
         &.lg {
            font-size: 1.6em;
         }
         &:nth-child(5) {
            margin-top: 20px;
            font-weight: 400;
         }
      }
      .btn {
         text-decoration: none;
         background-color: $blue;
         color: $white;
         padding: 15px 30px;
         border-radius: 8px;
         margin-top: 20px;
         transition: $tr-boxsh-02;
         &:hover {
            box-shadow: $boxsh;
         }
      }
   }
   .skills {
      background: $blue;
      h2 {
         color: $white;
      }
      .skillsBar {
         margin-top: 10px;
         ul {
            list-style: none;
            display: flex;
            justify-content: space-evenly;
            li {
               display: flex;
               flex-direction: column;
               align-items: center;
               color: $white;
               font-size: 10px;
               font-weight: 300;
               padding: 0 7px;
               .skillImg {
                  height: 60px;
                  display: flex;
                  align-items: center;
                  i {
                     text-shadow: #444 1px 0 6px;
                     font-size: 5em;
                  }
               }
               p {
                  color: #7EFFFB;
                  opacity: 0.7;
                  font-size: 13px;
               }
            }
         }
      }
   }
   .projects {
      h2 {
         color: $blue;
         display: flex;
         justify-content: space-between;
         align-items: center;
         span {
            display: flex;
            align-items: flex-end;
            i:nth-child(2) {
               font-size: 0.7em;
               padding-left: 2px;
            }
         }
      }
      .sort {
         background: $blue;
         border: 1px solid $blue;
         text-align: center;
         border-radius: 4px;
         box-shadow: $boxsh;
         width: 200px;
         position: absolute;
         right: 25px;
         overflow: hidden;
         opacity: 0;
         visibility: hidden;
         transition: opacity 0.2s ease-in-out;
         h4 {
            color: $white;
            padding: 5px;
         }
         ul {
            list-style: none;
            display: flex;
            flex-direction: column;
            align-items: center;
            background: $white;
            li {
               margin: 5px;
               padding: 5px;
               color: $darkgrey;
            }
            hr {
               opacity: 0.3;
               border: 1px solid $white;
               border-bottom: 1px solid $grey;
               width: 90%;
            }
         }
         &.show {
            visibility: visible;
            opacity: 1;
         }
      }
      .grid-container {
         display: grid;
         grid-template-columns: 1fr;
         grid-auto-rows: auto;
         grid-row-gap: 15px;
         .proj {
            display: flex;
            flex-direction: column;
            .name-proj {
               h3 {
                  color: $blue;
                  font-size: 1.2em;
                  font-weight: 300;
                  display: flex;
                  justify-content: space-between;
                  align-items: center;
                  span {
                     color: $grey;
                     font-size: 0.7em;
                  }
               }
            }
            .proj-img {
               img {
                  width: 100%;
               }
            }
         }
      }
   }
   .contact {
      background: $blue;
      h2 {
         color: $white;
      }
      form {
         display: flex;
         flex-direction: column;
         .submit-msg {
            text-align: center;
            color: rgb(65, 204, 0);
            visibility: hidden;
         }
         #name,
         #email,
         #message {
            padding: 10px 15px;
            border-radius: 4px;
            margin: 6px 0;
            font-size: 0.9em;
            background: $white;
            color: $grey;
            border: 1px solid $grey;
            transition: box-shadow 0.3s;
            &:focus {
               box-shadow: $boxsh;
            }
         }
         #message {
            resize: none;
         }
         #sendBtn {
            padding: 8px;
            width: 33%;
            border-radius: 4px;
            border: 1px solid $grey;
            background: $white;
            color: $grey;
            align-self: flex-end;
         }
      }
   }
}
footer {
   padding: 10px 25px;
   .social {
      display: flex;
      justify-content: space-around;
      width: 95%;
      margin: 0 auto 10px;
      text-shadow: #151515 1px 0 6px;
      a {
         color: $white;
      }
   }
   p {
      text-align: center;
      color: $blue;
      font-weight: 700;
      span {
         color: $grey;
         font-weight: 300;
      }
   }
}
@media screen and (max-width: 434px) {
   header {
      .title {
         justify-content: center;
         max-width: 100vw;
         .name {
            h4 {
               align-self: flex-start;
            }
            h1 {
               line-height: 0.9em;
            }
         }
      }
   }
   .container {
      .skills {
         padding: 25px;
         h2 {
            padding-bottom: 0;
         }
         .skillsBar {
            margin-top: 0;
            ul {
               li {
                  .skillImg {
                     i {
                        font-size: 3.2em;
                     }
                  }
                  p {
                     font-size: 1.1em;
                  }
               }
            }
         }
      }
   }
}
/* Medium devices (landscape tablets, 768px and up) */
@media screen and (min-width: 768px) {
   h2 {
      font-weight: 400;
   }
   header {
      nav {
         .menu {
            width: 60vw;
            right: -60vw;
            &.show {
               transform: translateX(-60vw);
            }
         }
      }
   }
   .container {
      .about {
         padding: 25px 100px 25px;
         p {
            font-size: 1.3em;
         }
      }
      .skills {
         .skillsBar {
            ul {
               li {
                  p {
                     font-size: 1.3em;
                  }
               }
            }
         }
      }
      .projects {
         .grid-container {
            grid-template-columns: 1fr 1fr;
            grid-column-gap: 25px;
            .proj {
               .name-proj {
                  h3 {
                     font-size: 1.3em;
                     span {
                        font-size: 0.8em;
                     }
                  }
               } 
            }
         }
      }
      .contact {
         form {
            width: 70%;
            margin: 0 auto;
         }
      }
   }
   footer {
      display: flex;
      justify-content: space-around;
      align-items: center;
      .social {
         order: 2;
         width: auto;
         margin: 0;
         i {
            margin: 0 15px;
            padding: 0 5px;
         }
      }
   }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
   h2 {
      font-weight: 400;
      font-size: 1.8em;
      text-align: center;
   }
   header {
      flex-direction: row;
      align-items: flex-end;
      justify-content: space-between;
      padding-left: 0;
      padding-right: 5%;
      nav {
         order: 2;
         flex-direction: column;
         justify-content: flex-end;
         align-items: center;
         position: relative;
         height: auto;
         width: auto;
         .menu-btn {
            display: none;
         }
         .menu {
            position: relative;
            flex-direction: row;
            align-items: center;
            width: auto;
            height: 75px;
            right: auto;
            background: none;
            hr {
               display: none;
            }
            #navUL {
               flex-direction: row;
               align-items: center;
               justify-content: center;
               li {
                  padding: 5px;
                  a {
                     font-size: 1.2em;
                     font-weight: 400;
                     padding: 0 10px;
                     transition: $tr-txtsh-02;
                     &:hover {
                        text-shadow: 1px 2px 5px $darkgrey;
                     }
                  }
               }
            }
            .social {
               display: none;
            }
         }
         
      }
      .title {
         bottom: -33px;
         padding-right: 0;
         .name {
            padding-left: 20px;
         }
      }
   }
   .container {
      .skills {
         .skillsBar {
            ul {
               li {
                  font-size: 1em;
                  .skillImg {
                     font-size: 0.9em;
                     height: 100px;
                  }
               }
            }
         }
      }
      .projects {
         h2 {
            span {
               transition: $tr-txtsh-02;
               &:hover {
                  cursor: pointer;
                  text-shadow: 2px 2px #bbb;
               }
            }
         }
         .sort {
            right: 50px;
            &.show {
               z-index: 1;
            }
         }
         .grid-container {
            grid-template-columns: 1fr 1fr 1fr;
            grid-auto-rows: auto;
            grid-gap: 8px;
            .proj {
               position: relative;
               border: 3px solid #ddd;
               overflow: hidden;
               .proj-img {
                  img {
                     height: 100%;
                  }
               }
               .name-proj {
                  position: absolute;
                  height: 100%;
                  width: 100%;
                  overflow: hidden;
                  background: rgba(10,10,10,0.9);
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  font-size: 7em;
                  opacity: 0;
                  white-space: nowrap;
                  cursor: default;
                  &:hover {
                     transition: font-size 0.4s ease-in-out, opacity 0.4s ease-in-out;
                     font-size: 1em;
                     opacity: 1;
                     h3 {
                        transform: translateY(0);
                     }
                  }
                  h3 {
                     display: flex;
                     flex-direction: column;
                     font-weight: 700;
                     transition: transform 0.4s;
                     transform: translateY(-100%);
                  }
               }
            }
         }
      }
      .contact {
         form {
            width: 60%;
            #sendBtn {
               cursor: pointer;
               &:hover {
                  transition: box-shadow 0.3s;
                  box-shadow: $boxsh;
               }
            }
         }
      }
   }
   footer {
      .social {
         a {
            i {
               cursor: pointer;
               transition: color 0.3s, transform 0.3s;
               &:hover {
                  transform: rotate(10deg);
                  color: $blue;
               }
            }
         } 
      }
   }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
   header {
      .title {
         padding-left: 120px;
         img {
            width: 160px;
         }
      }
   }
   .container {
      .about {
         width: 55%;
         margin: 0 auto;
      }
      .skills {
         .skillsBar {
            ul {
               justify-content: center;
               li {
                  margin: 0 30px;
               }
            }
         }
      }
      .projects {
         padding: 25px 200px 50px;
         .sort {
            right: 200px;
         }
      }
      .contact {
         form {
            width: 50%;
         }
      }
   }
   footer {
      height: 68px;
      .social {
         position: absolute;
         right: 20px;
      }
   }
}
@media only screen and (min-width: 1550px) {
   .container {
      .projects {
         padding: 25px 300px 50px;
         .sort {
            right: 300px;
         }
      }
      .contact {
         form {
            width: 40%;
         }
      }
   }
}
@media (orientation: landscape) and (max-width: 991px) {
   header {
      nav {
         .menu {
            width: 55vw;
            #navUL {
               li {
                  padding: 10px;
                  a {
                     font-size: 1.3em;
                  }
               }
               hr {
                  width: 50%;
               }
            }
            .social {
               flex-direction: row;
               justify-content: center;
               width: 100%;
               a {
                  margin: 0 1%;
                  padding: 2%;
               }  
            }
         }
      }
   }
 }